body {
    background: url('background.png');
    background-size: 400px;
    color: black;
    height: 345px;
    width: 320px;
    text-align: center;
    padding: 5px;
    font-family: 'Avenir Next Condensed', Helvetica, sans-serif;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('Avenir Next Condensed.ttc');
}

img {
    height: 70px;
    margin-top: 10px;
}

.top {
    color: black;
    padding: 6px 15px;
    border-width: 2px;
    margin: 6px 6px 0 6px;
    background-color: rgba(10, 4, 4, 0.9);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.options {
    color: black;
    padding: 6px 15px;
    border-width: 2px;
    margin: 0 6px 6px 6px;
    background-color: rgba(210, 178, 205, 0.8);
    height: 224px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

p {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

hr {
    width: 298px;
    text-shadow: none;
}

form {
    text-align: left;
    padding: 0 40px;
}

#submitB {
    margin-left: 65px;
    border: none;
    background-color: #9D040E;
    color: rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

#submitB:hover {
    background-color: black;
}

form {
    font-size: 16px;
}

#otherInput {
    margin-left: 20px;
    width: 155px;
    margin-top: 3px;
}
